body {
    background-image: url('../imagem/images.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    color: #333;
}

header {
    background-color: #06887d;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
    margin: 0 20px;
    width: 100px;
    height: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #cccccc;
    transition: color 0.3s;
}

h2 {
    text-align: center;
    color: #f1f7f6;
    margin-top: 20px;
}

article {
    background: linear-gradient(150deg, #eaffea, #90b3a2);
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 30px;
}

#card ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#card ul li {
    margin-bottom: 10px;
    font-weight: bold;
}

img {
    display: block;
    margin: 20px auto;
    width: 100%;
    height: auto;
}

#imagem-docard {
    margin: 20px auto;
    width: 20%;
    height: 20%;
}
.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.carousel-inner {
    display: flex;
    overflow: hidden;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item img {
    width: 80%;
    max-height: 400px;
    object-fit: contain;
    margin: 0 auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel-caption {
    text-align: center;
    color: #000000;
    background: linear-gradient(150deg, #eaffea, #90b3a2);
    padding: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    border-radius: 10px;
}

.carousel-item a {
    display: block;
    text-decoration: none;
    color: inherit;
}
