/* unifeso.css */
body {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    color: #333;
}

header {
    background-color: #06887d;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
    margin: 0 20px;
    width: 100px;
    height: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #cccccc;
    transition: color 0.3s;
}

h2 {
    text-align: center;
    color: #06887d;
    margin-top: 20px;
}

article {
    background-color: #ff2020;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#card ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#card ul li {
    margin-bottom: 10px;
    font-weight: bold;
}

img {
    display: block;
    margin: 20px auto;
    width: 100%;
    height: auto;
}
#imagem-docard{
    margin: 20px auto;
    width: 20%;
    height: 20%;
}